<div class="update-form">
    <%= form_tag("/users/#{@user.id}/update") do %>
    <!--
    <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
            <%= message %>
        </div>
    <% end %>
    -->
        <!-- <div class="icon"></div> -->
        <p class="form-item">ニックネーム</p>
        <input name="nickname" value="<%= @user.nickname %>" autocomplete="off">
        <p class="form-item">自己紹介</p>
        <textarea name="biography"><%= @user.biography %></textarea>
        <p class="update-btn"><input type="submit" value="更新"></p>
    <% end %>
</div>