<% @user.errors.full_messages.each do |msg| %>
    <div class="form-error">
        <%= msg %>
    </div>
<% end %>

<div class="signup-form">
    <%= form_tag("/users/create") do %>
        <p>ユーザー名</p>
        <input name="user_name" value="<%= @user.user_name %>" autocomplete="off">
        <p>パスワード</p>
        <input type="password" name="password" value="<%= @user.password %>" >
        <p class="signup-btn"><input type="submit" value="新規登録"></p>
    <% end %>
</div>