<div class="signup-form">
    <p class="form-title">アカウントを作成</p>
    <!-- 新規登録の検証失敗時アラートを表示 -->
    <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
            <%= message %>
        </div>
    <% end %>
    <!-- パスワード不一致時アラートを表示 -->
    <% if @error_message %>
        <div class="form-error">
            <%= @error_message %>
        </div>
    <% end %>
    
    <%= form_tag("/users/create") do %>
        <p class="form-item">ユーザー名</p>
        <input name="user_name" value="<%= @user.user_name %>" autocomplete="off">
        <p class="form-item">パスワード</p>
        <input type="password" name="password1">
        <p class="form-item">パスワード再入力</p>
        <input type="password" name="password2">
        <p class="signup-btn"><input type="submit" value="新規登録"></p>
    <% end %>
</div>