<div>
    <p>ユーザ名</p>
    <%= @user.user_name %>
    <div class="icon"></div>
    <p>bioとか</p>
    <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
    <% end %>
</div>
<div>
    ユーザの投稿欄
</div>