<div class="about-service">
    <h1>yondaとは<h1>
    <p>yondaは、読み終わった本に感想コメントなどを加えて情報を登録することができます。</p>

    <p class="about-content">アカウントを作成すると...</p>
    <ul class="row">
        <li class="about-item col-3">
            <i class="fas fa-book-reader"></i>
            <p>本の記録</p>
            <p>読んだ本を管理、記録することができます。</p>
        </li>
        <li class="about-item col-3">
            <i class="fas fa-search"></i>
            <p>レビュー検索</p>
            <p>他の人のレビューを参考にすることができます。</p>
        </li>
        <li class="about-item col-3">
            <i class="fas fa-exclamation"></i>
            <p>話題の本</p>
            <p>投稿数の多い書籍の情報を確認することができます。</p>
        </li>
        <li class="about-item col-3">
            <i class="fas fa-users"></i>
            <p>友人や知人の読書情報</p>
            <p>フォローした友人や知人の読書情報がわかるので、感想の共有ができます。</p>
        </li>
    </ul>
    <div class="signup-link">
        <%= link_to("新規登録はこちら", "/signup") %>
    </div>
</div>