<div class="container">

    <h1>this is top page</h1>

    <div>
        <%= link_to('about', '/about') %>
    </div>

    <div class="row">
        <div class="col-8 bg-secondary">
            recommend
        </div>
        <div class="col-4 bg-warning">
            search
        </div>
    </div>
</div>