<div class="post-info">
    <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
            <%= message %>
        </div>
    <% end %>
    <%= form_tag("/posts/create") do %>
        <div class="row">
            <div class="col-6">
                <p class="post-detail-item">タイトル</p>
                <input type="text" name="title" value="<%= @post.title %>" autocomplete="off">
            </div>
            <div class="col-6">
                <p class="post-detail-item">著者</p>
                <input type="text" name="author" autocomplete="off">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="post-detail-item">出版社</p>
                <input type="text" name="publisher" autocomplete="off">
            </div>
            <div class="col-6">
            </div>
        </div>
        <p class="post-detail-item">コメント</p>
        <textarea name="content"></textarea>
        <p class="post-btn"><input type="submit" value="投稿"></p>
    <% end %>
</div>