<%= form_tag("/posts/edit") do %>
    <div class="post-info">
        <span>タイトル</span>
        <input type="text" name="title">
        <span>著者</span>
        <input type="text" name="author">
        <span>出版社</span>
        <input type="text" name="publisher">
        <span>評価</span>
        <input type="text" name="evaluate">
        <span>コメント</span>
        <textarea name="content"></textarea>
        <p class="post-btn"><input type="submit" value="作成"></p>
    </div>
<% end %>