<div>
    <p>タイトル</p>
    <%= @post.title %>
    <p>著者</p>
    <%= @post.author %>
    <p>出版社</p>
    <p>評価</p>
    <p>コメント</p>
</div>
<%= link_to "/posts/#{@post.id}/edit" do %>
    <i class="fas fa-pen"></i>
<% end %>
<%= link_to "/posts/#{@post.id}/destroy", method: "post", data: {confirm: "削除しますか？"} do %>
    <i class="fas fa-trash"></i>
<% end %>