// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// top
.top-about-service {
    padding: 90px 40px;
    border-radius: 5px;
    background-color: #75b1a9;
    color: #fff;
}

.top-about-service h2 {
    font-size: 30px;
}

.top-about-service p {
    font-size: 18px;
}

.recently-posts-title {
    padding-bottom: 6px;
    border-bottom: solid 1px #808080;
    font-size: 20px;
    font-weight: bold;
}

.recently-posts {
    background-color: #fff;
}

.recently-post-item {
    padding: 20px;
    border-bottom: solid 1px #4d5156;
}

.recently-post-item a {
    color: inherit;
}

.recently-post-item a:hover {
    color: inherit;
    opacity: 0.8;
}

.recently-post-item:last-child {
    border: none;
}

.recently-post-item-img {
    float: left;
    margin-right: 25px;
}

.recently-post-item-img img {
    height: 90px;
}

.recently-post-item-description {
    float: left;
}

.recently-post-item-description i {
    margin-right: 8px;
}

.recently-post-title,
.recently-post-author {
    margin-bottom: 0;
}

.top-keyword-search {
    position: relative;
}

.top-keyword-search input {
    width: 100%;
    height: 40px;
    border: 1px solid #4d5156;
    border-radius: 3px;
}

.top-keyword-search input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    top: 8px;
    right: 12px;
}

.top-signup-btn,
.about-signup-btn {
    padding: 15px 0;
    border-radius: 3px;
    background-color: #d9b44a;
    color: #fff;
    text-align: center;
}

.top-signup-btn:hover,
.about-signup-btn:hover {
    opacity: 0.8;
}

.top-signup-description {
    font-size: 14px;
}

// about
.about-service {
    margin: 40px 0 60px;
    text-align: center;
}

.about-service h2 {
    font-size: 24px;
}

.about-service p {
    font-size: 16px;
}

.service-content {
    padding: 50px 0 30px;
}

.service-content-item {
    font-size: 16px;
    list-style: none;
}

.service-content-item i {
    font-size: 40px;
}

.about-signup-btn {
    width: 250px;
    margin: 0 auto;
}