// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// top
.top {
    margin: 60px 0 140px;
    color: #4d5156;
}

.service-title p {
    margin: 0;
    font-size: 16px;
}

.service-title h1 {
    font-size: 48px;
}

.service-info {
    display: inline-block;
    margin-top: 40px;
    border-bottom: 1px solid #4d5156;
}

.service-info h2 {
    font-size: 28px;
}

.service-info p {
    font-size: 18px;
}

.about-link {
    padding-bottom: 20px;
}

.about-link a {
    color: #4d5156;
    font-size: 16px;
}

.about-link a:hover {
    color: #4d5156;
    opacity: 0.8;
}

.top-signup {
    border-left: 1px solid #211E55;
}

.signup-link {
    height: 40px;
    line-height: 40px;
    margin: 15px 0 20px;
    border-radius: 3px;
    background-color: #008080;
    text-align: center;
}

.signup-link a {
    color: #fff;
}

.signup-link a:hover {
    color: #fff;
    opacity: 0.8;
}

.description {
    font-size: 12px;
}


// about
.about-service {
    margin: 40px 0 60px;
    color: #4d5156;
}

.about-service h1 {
    font-size: 24px;
    text-align: center;
}

.about-service p {
    font-size: 16px;
    text-align: center;
}

.service-content {
    padding: 50px 0 30px;
}

.service-content-item {
    font-size: 16px;
    list-style: none;
}

.service-content-item i {
    padding-bottom: 20px;
    font-size: 40px;
}

.about-btn {
    text-align: center;
}

.about-service .signup-link {
    display: inline;
    padding: 15px 30px;
}