// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login-form,
.signup-form {
    width: 40%;
    padding: 40px;
    margin: 30px auto 60px;
    border-radius: 10px;
    background-color: #fff;
}

.login-form input,
.signup-form input {
    font-size: 18px;
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
    border: none;
    border-bottom: solid 1px gray;
}

.login-form input:focus,
.signup-form input:focus {
    outline: none;
    border-bottom: solid 2px #008080;
}

.login-btn input,
.signup-btn input {
    height: 50px;
    margin-bottom: 0;
    border-bottom: none;
    border-radius: 3px;
    color: #fff;
    background-color: #008080;
}